@model ExpertAssessment.Domain.Entities.Expert
<div class="span3 bs-docs-sidebar">
    Your login is:
    <b>@User.Identity.Name</b>
    
    <br />
    <a type="button" class="btn btn-primary" data-toggle="button" href="@Url.Action("Logout", "Account")">Logout</a>
    
</div>

