@model ExpertAssessment.WebUI.Models.LevelCharacteristicModel

<div id="level@(Model.Id)">
@Html.HiddenFor(m=>m.Id)
<h4>Уровень @Html.DisplayFor(m => m.Id)</h4> 


@for (int i=0;i<Model.Values.Count;i++) {
        @Html.EditorFor(c => c.Values[i])  
       
    }

    <input class="AddNewCharacteristic" type="submit" name="AddNewCharacteristic" value="Добавить характеристику" />

</div>
